.footer {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #333c45;
}

.footer__titles {
    display: grid;
}

.footer__contact h1,
.footer__titles h1 {
    color: #0b93a3;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.footer__titles p {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    font-weight: 500;
}

.footer__titles span {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    font-weight: 300;
    border-bottom: 1px solid #fff;
}

.social__links {
    margin-bottom: 1.2rem;
}
.social__links span a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.8rem;
}

.contact__info p {
    color: #fff;
    font-weight: 300;
    font-size: 1.1rem;
}

.contact__info p span {
    color: var(--secondary-color);
}

  
@media only screen and (max-width: 768px) {
    .footer__contact h1,
    .footer__titles h1 {
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
    }
    
    .footer__titles p {
        font-size: 1rem;
        font-weight: 400;
    }

    .footer__titles span {
        font-size: 1.1rem;
        margin-bottom: 0.8rem;
    }
}